@import 'styles/variables';
@import 'styles/hero';
@import 'styles/content';
@import 'styles/stats';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: $font-inter;
    font-size: 15px;
    color: $clr-white-200;

    background-color: $clr-blue-800;
    margin-bottom: 3em;
    margin-top: 3em;

    display: grid;
    place-items: center;
}

.container {
    background-color: $clr-blue-600;
    width: 80%;

    border-radius: $radius;

    display: flex;
    flex-direction: column-reverse;
}

.accent-text {
    color: $clr-pruple-400;
}

@media screen and (min-width: 768px) {
    body {
        height: 100vh;
        margin: 0;
    }

    .container {
        flex-direction: row;
        width: 60%;
        height: 450px;
    }
}