.hero {

    background: linear-gradient($clr-pruple-600-transparent, $clr-pruple-600-transparent), url(/images/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: $radius $radius 0em 0em;

    width: 100%;
    height: 220px;
}

@media screen and (min-width: 768px) {
    .hero {
        height: 100%;
        border-radius: 0em $radius $radius 0em;
        width: 45%;
    }
}